

.espaço {
    margin-top: 10vh;
}

#login {
    height: 100vh;
}

#cadastro {
    height: 100vh;
}

input {
    color      : white;
    font-family: 'Reem Kufi', sans-serif;
}

input.in {
    color: black;
}

.btn {
    width: 30vh;
}

.corpo {
    height: 80vh;
}

.nav {
    height: 20vh;
}

th {
    font-size  : 1.5rem;
    font-family: 'reem kufi', sans-serif;
}




h2 {
    font-size  : 4.5rem;
    margin     : 0em;
    padding-top: 2rem;
}

td {
    font-size  : 1.3rem;
    color      : rgb(0, 0, 0) !important;
    font-family: 'reem kufi';
}

.desc {
    text-decoration: none;
    color          : rgb(245, 134, 7);
}

#finalizar {
    position: absolute;
    bottom  : 10vh;
    right   : 20vw;

}

.lorange-text {
    color: rgb(236, 34, 34);
}

.lorange {
    background-color: rgb(236, 34, 34);
}

label #desc {
    margin-bottom: 2rem
}

ul li .active {
    border-bottom: solid 2px #63636a;
}
a:hover{
    background-color: black!important;
    color: white!important;
}
h1#logo:hover{ 
    cursor:pointer!important

}
h1{cursor: pointer;}
